# Configuramos las variables con los datos que necesita el certificado
LE_EMAIL=
LE_DOMAIN=
#Variables para Moodle
MOODLE_DB_TYPE=
MOODLE_DB_NAME=
MOODLE_DB_USER=
MOODLE_DB_PASSWORD=
IP_CLIENTE_MYSQL=
MOODLE_DB_HOST=
MOODLE_DIR=
MOODLE_DATA_DIR=
MOODLE_URL=